.main-image {
  height: 14rem;
  width: 20rem;
}

.big-articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.all-articles {
  padding: 3rem;
  text-align: center;
}